In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("demo.csv")

In [9]:
heda=['Number']
df.columns=heda

In [10]:
df.head()

           Number
0       See _—=\n
1               0
2  og Se avn Se\n
3               0
4     Sa\n\neel\n

In [22]:
for i in df['Number']:
    if(len(i)>20):
        print(dtypes(i))

NameError: name 'dtypes' is not defined

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Number  271 non-null    object
dtypes: object(1)
memory usage: 2.2+ KB

In [4]:
import datetime

In [7]:
time=datetime.datetime.now()

In [10]:
time.strftime("%H-%M-%S-%p-%d-%m")

'02-38-13-AM-26-02'